#errorPage {
    text-align: center;
    background: #F5F5F5;
    padding-top: 50px;
}

#back-button {
    color: #fff;
    background: #272727;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 13px;
    font-family: arial, serif;
    font-weight: bold;
    -webkit-border-radius: .5em;
    margin-top: 50px;
}
#error-text{
	font-family: Parkavenue, cursive;
	font-size: 30px;
}
