#footer{
	position: absolute;
	bottom:0;
	min-height: 50px;
	
	background: black;
	width: 100%;
	margin:auto;
}

ul{
	display: block;
}
#footer_container{
	height: 100%;
	color:#9d9d9d;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}
.footer_column{
	float: left;
}
.footer_column_label{
margin-left: -20px;
}