<div id="footer_container">
    <ul class="footer_column">
        <h3 class="footer_column_label">Company</h3>
        <li>Home</li>
        <li>Dashboard</li>
        <li>About Us</li>
    </ul>
    <ul class="footer_column">
        <h3 class="footer_column_label">Social Media</h3>
        <li><span class="glyphicon glyphicon-thumbs-up"></span> Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
    </ul>
</div>
<script type="text/javascript">

/*$(window).on('resize scroll', function(){
    var footerHeight = $('#footer').height();
    var footerTop = $('#footer').position().top + footerHeight;
    if (footerTop < docHeight) {
        $('#footer').css('margin-top', 10 + (docHeight - footerTop) + 'px');
    }
});*/
$(window).resize(function() {
    var windowSize = $(window).height();
    var footerHeight = $('#footer').height();
    var footerTop = $('#footer').position().top + footerHeight;
    if (footerTop < docHeight) {
        $('#footer').css('margin-top', 10 + (docHeight - footerTop) + 'px');
    }
});

$('#container').scroll(function() {
    var windowSize = $(window).height();
    var footerHeight = $('#footer').height();
    var footerTop = $('#footer').position().top + footerHeight;
    if (footerTop < docHeight) {
        $('#footer').css('margin-top', 10 + (docHeight - footerTop) + 'px');
    }
});
</script>
