<div id="userProfileContainer">
    <div id="profile-header"><span>{{user.name.title+" "+user.name.first+" "+user.name.last | titlecase}}'s Profile Page</span></div>
    <div class="profileImage">
        <img ng-src="{{user.picture.large}}">
    </div>
    <div class="profileImage">
        <img ng-src="{{user.picture.medium}}">
    </div>
    <div class="profileImage">
        <img ng-src="{{user.picture.thumbnail}}">
    </div>
    <div id="profileInfo">
        <!-- <span>Hello, I am a {{user.gender | titlecase}} and my name is {{user.name.title+" "+user.name.first+" "+user.name.last | titlecase}}</span> -->
        <h3>General Information</h3>
        <p>First Name: {{user.name.first | titlecase}}</p>
        <p>Last Name: {{user.name.last | titlecase}}</p>
        <p>DOB: {{user.dob}}</p>
        <p>Address: {{user.location.street+" "+ user.location.city+" "+user.location.state+" "+user.location.postcode | titlecase}}</p>
        <hr>
        <h3>Contact Information</h3>
        <p>E-mail: {{user.email}}</p>
        <p>Home Number: {{user.phone}}</p>
        <p>Cell Number: {{user.cell}}</p>
    </div>
</div>
